.contacting{
    text-align: left;
}
.naming{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: left;
}
.emailing{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: left;
}